{% extends 'base.html.twig' %}

{% block title %}My Wishlist{% endblock %}

{% block body %}
    <h1>My Wishlist</h1>
    <ul>
        {% for product in products %}
            <li>
                {{ product.name }} - {{ product.price | number_format(2) }}
                <!-- Thêm các chi tiết sản phẩm nếu cần -->
            </li>
        {% else %}
            <li>No products in your wishlist.</li>
        {% endfor %}
    </ul>
{% endblock %}
